.home {
  &__main-content {
    display: flex;
    flex-direction: column;

    @include breakpoint ('desktop') {
      flex-direction: row;
    }
  }

  &__primary {
    flex: 1;
  }

  &__secondary {
    padding-top: 40px;

    @include breakpoint ('desktop') {
      width: 33.3333%;
    }

    &-title {
      margin-bottom: 40px;
      @include type ('h5', 'phone');
      color: $neutral-500;
      text-transform: uppercase;

      @include breakpoint ('from-tablet') {
        @include type ('h5', 'desktop');
      }
    }
  }
}
