html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $color-text;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  @include type ('p', 'phone');
  color: $color-text;

  @include breakpoint ('from-tablet') {
    @include type ('p', 'desktop');
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
}

.input,
.textarea {
  width: 100%;
  @include type ('p', 'desktop');
  background: $neutral-200;
  border: 1px solid $neutral-500;
  border-radius: $default-border-radius;

  &:focus {
    outline: none;
    border: 2px solid $primary-color;
  }
}

.input {
  height: 48px;
  padding: 0 16px;
}

.textarea {
  height: 96px;
  padding: 16px;
  resize: none;
}

