// colors
$inkstock-blue: #004892;
$inkstock-blue-dark: #002f5f;
$brainflix-blue: #0095ff;
$brainflix-blue-dark: #0065ad;

// neutrals
$black: #000000;
$neutral-800: #323232;
$neutral-500: #afafaf;
$neutral-300: #e1e1e1;
$neutral-200: #fafafa;
$white: #ffffff;

// theme
$primary-color: $brainflix-blue;
$primary-color-hover: $brainflix-blue-dark;
$secondary-color: $neutral-500;

$color-text: $neutral-800;
$color-text-light: $neutral-500;
$color-text-secondary: $neutral-200;

// font
$base-font-size: 16px;

// buttons and forms
$default-border-radius: 4px;
