.comments {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__counter {
    font-weight: 700;
    margin-bottom: 32px;
  }

  &__user-avatar-wrapper {
    width: 48px;
    height: 48px;
    padding-right: 0;

    & > img {
      object-position: 0 50%;
    }
  }
}

.comment {
  display: flex;
  @include type ('p', 'phone');
  padding-top: 24px;

  @include breakpoint ('from-tablet') {
    @include type ('p', 'mobile');
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    @include breakpoint ('from-tablet') {
      justify-content: flex-start;
    }
  }

  &__aside {
    width: 54px;
  }

  &__body {
    flex: 1;
  }

  &__user-avatar-wrapper {
    width: 42px;
    height: 42px;
  }

  &__channel {
    margin-right: 8px;
    font-weight: 700;
  }

  &__timestamp {
    color: $neutral-500;
  }

  &__compose {
    display: flex;
    margin-bottom: 24px;

    &-body {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &-heading {
      padding-left: 54px;
      margin-top: 0;
      margin-bottom: 8px;
      color: $neutral-500;
      text-transform: uppercase;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

      @include breakpoint ('from-tablet') {
        flex-direction: row;
        padding-right: 40px;

        & > *:not(:last-child) {
          margin-right: 16px;
        }
      }

    & > * {
      width: 100%;
    }

    & .textarea {
      height: 96px;
      margin-bottom: 16px;

      @include breakpoint ('from-tablet') {
        line-height: 1;
        height: 48px;
      }
    }
  }

  &__submit-button {
    @include breakpoint ('from-tablet') {
      max-width: 160px;
    }
  }
}
