.cta {
  height: 48px;
  padding: 1rem;
  color: $white;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  background: $primary-color;
  border: none;
  border-radius: $default-border-radius;
  cursor: pointer;

  @include breakpoint ('from-tablet') {
    font-size: 14px;
  }

  &:hover {
    background: $primary-color-hover;
  }
}
