.upload {
  padding-top: 24px;

  @include breakpoint ('from-tablet') {
    padding-top: 48px;
  }

  &__main-content {
    @include row;
    flex-direction: column;
    flex-wrap: nowrap;

    @include breakpoint ('desktop') {
    flex-direction: row;
    }
  }

  &__divider {
    display: none;
    margin-bottom: 40px;

    @include breakpoint ('from-tablet') {
      display: block;
    }
  }

  &__heading {
    @include type ('h1', 'phone', 700);
    margin-bottom: 32px;

    @include breakpoint ('from-tablet') {
      @include type ('h1', 'desktop');
    }
  }

  &__label {
    @include type ('h5', 'phone', 700);
    text-transform: uppercase;
    color: $neutral-500;
  }

  &__preview {
    @include breakpoint ('from-tablet') {
      width: 50%;
    }

    @include breakpoint ('desktop') {
      width: 33.3333%;
    }

    &-thumbnail {
      position: relative;
      margin-bottom: 32px;

      @include breakpoint ('from-tablet') {
        margin-bottom: 40px;
      }

      & > img {
        object-fit: cover;
        border-radius: $default-border-radius;
      }
    }
  }

  &__form {
    @include breakpoint ('desktop') {
      flex-grow: 1;
    }

    & .input {
      margin-bottom: 24px;
    }

    & .textarea {
      margin-bottom: 32px;

      @include breakpoint ('from-tablet') {
        margin-bottom: 40px;
      }
    }

    &-controls {
      display: flex;
      flex-direction: column;

      @include breakpoint ('from-tablet') {
        flex-direction: row-reverse;
        align-items: center;
      }
    }
  }

  &__submit-button {
    width: 100%;
    margin-bottom: 24px;

    @include breakpoint ('from-tablet') {
      max-width: 160px;
    }
  }

  &__cancel-button {
    padding: 0 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
    cursor: pointer;

    @include breakpoint ('from-tablet') {
      margin-right: unset;
      font-size: 14px;
    }
  }

  &__error-message {
    text-align: right;
    color: red;
  }
}

