$_gutter-x: 24px;

@mixin row  ($gutter-x: $_gutter-x, $gutter-y: null) {
  display: flex;
  flex-wrap: wrap;
  margin-left: $gutter-x / -2;
  margin-right: $gutter-x /-2;
  @if $gutter-y != null {
    margin-bottom: $gutter-y;
  }

  & > * {
    padding-left: $gutter-x / 2;
    padding-right: $gutter-x / 2;
  }
}

@mixin col ($width: auto) {
  width: $width;
}

