.cta {
  height: 48px;
  padding: 1rem;
  color: $white;
  @include type ('p', 'phone', 600);
  text-transform: uppercase;
  background: $primary-color;
  border: none;
  border-radius: $default-border-radius;

  @include breakpoint ('from-tablet') {
    @include type ('p', 'desktop');
  }

  &:hover {
    background: $primary-color-hover;
  }
}
